body{
    background-image: url("images/netflix.jpg");
}

.logo{
    width: 400px;
}
.text{
    color: white;
    font-size: larger;
    text-align: center;
}
h1{
    font-size: 60px;
}
h4{
    font-size: 30px;
}
h5{
    font-size: 20px;
}
.form-position{
    align-content: center;
}